<div fxLayout="row" style="width: 100%;">  
  <mat-card  fxLayout="row" fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex=10>
        <div class="box-icon">
          <mat-icon class="icon-app">insert_drive_file</mat-icon>
        </div>
      </div>
      <mat-card-content fxLayout="row" fxFlex>
        <div fxLayout="column" fxFlex>
          <div fxLayout="row" fxFlex>
            <div class="title-item">Nombre:</div>
            <div>Nombre del proyecto</div>
          </div>
          <div fxLayout="row" fxFlex>
            <div class="title-item">Descripción:</div>
            <div>Descripción del proyecto</div>
            <div></div>
          </div>
        </div>
        <div fxLayout="column" fxFlex>
          <div fxLayout="row" fxFlex>
            <div class="title-item">Estado:</div>
            <div>Activo 
              <span>
                <mat-slide-toggle></mat-slide-toggle>
              </span>
            </div>
          </div>
          <div fxLayout="row" fxFlex>
            <div class="title-item">Fecha Creación:</div>
            <div>01/01/2020</div>
            <div></div>
          </div>
        </div>
      </mat-card-content>
  </mat-card>
</div>